# The secure.py file stores environment specific settings and secrets.  It is 
# generated during deployment to AWS based on settings stored in s3.  Using the
# below secure settings in combination with project defaults should be 
# sufficient to get you started, but you'll want to generate a secure password 
# for the `db_default_password` setting before initializing a database in
# postgres

SECURE_SETTINGS = {
    'enable_debug': True,
    'django_secret_key': '{{ secret_key }}',
    'db_default_name': '{{ project_name }}',
    'db_default_user': '{{ project_name }}',
    'db_default_password': '{{ secure_settings.db_default_password }}',
}
